<TBE version="1.0">
 <trainer name="Zumstein" prename="Ramon" email="ramon.zumstein@gmail.com" />
 <defaultLanguage name="de" />

 <servers>
  <server name="Public" host="ftp.myhost.ch" port="32" username="myUsername" password="myPassword" />
  <server name="Private" host="ftp.myhost.ch" port="32" username="myUsername" password="myPassword" />
 </servers>
</TBE>
