<TBE version="1.0">
 <trainer name="Geile" prename="Siech" email="ramon.zumstein@gmail.com" />
 <defaultLanguage name="deutsch" />

 <servers>
  <server name="Public" host="ftp.berncapitals.ch" username="testberncapitals" password="hovcapyod9" />
  <server name="Private" host="ftp.myhost.ch" username="myUsername" password="myPassword" />
 </servers>

  <recently>
    <recentlyOpened path="training1.tbe"></recentlyOpened>
    <recentlyOpened path="training2.tbe"></recentlyOpened>
  </recently>
</TBE>
