<TBE version="1.0">
 <trainer name="Geile" prename="Siech" email="ramon.zumstein@gmail.com" />
 <defaultLanguage name="deutsch" />

 <servers>
  <server name="Public" host="tbe.netstyle.ch" username="tbe_admin" password="4quabwej" />
  <server name="Berncapitals" host="ftp.berncapitals.ch" username="testberncapitals" password="hovcapyod9" />
 </servers>

  <recently>
    <recentlyOpened path="training1.tbe"></recentlyOpened>
    <recentlyOpened path="training2.tbe"></recentlyOpened>
  </recently>
</TBE>
