<TBE>
  <sport name="Football" version="1.0" picture="ball.gif" lastCompatibleVersion="1.0"/>
  <itemComponents>
    <shape name="Ball1" description="Ball1" icon="ball.gif" picture="ball.gif"  maxSideWidth="32"/>
    <shape name="Ball2" description="Ball2" icon="ball.gif" picture="ball.gif"  maxSideWidth="32"/>
    <shape name="Ball3" description="Ball2" icon="ball.gif" picture="ball.gif"  maxSideWidth="32"/>
    <shape name="Ball4" description="Ball2" icon="ball.gif" picture="ball.gif"  maxSideWidth="32"/>
    <arrow name="PolySolidBlockTool" description="Block" picture="block.gif" />
	
    <arrow name="PolyCurvedArrowTool" description="Motion" picture="solid.gif" />
    <arrow name="PolySolidArrowTool" description="Run" picture="curved.gif" />
    <arrow name="BezierSolidArrowTool" description="Run" picture="solidbezier.gif" />
    <field name="wholefield" description="Ganzes Feld" picture="whole_field.gif" />
    <field name="halffield" description="Halbes Feld" picture="half_field.gif" />
    <field name="goal" description="Torraum" picture="goal.gif" />
  </itemComponents>
</TBE>
