<TBE>
  <sport name="Football" version="1.0" picture="ball.gif" lastCompatibleVersion="1.0"/>
  <itemComponents>
    <shape name="Defensive Player" description="Defensive Player" icon="icons/defensive.gif" picture="defensive.png"  maxSideWidth="32"/>
	<shape name="End" description="End" icon="icons/end.gif" picture="end.png"  maxSideWidth="32"/>
    <shape name="Tackle" description="Tackle" icon="icons/tackle.gif" picture="tackle.png"  maxSideWidth="32"/>
    <shape name="Cornerback" description="Cornerback" icon="icons/cornerback.gif" picture="cornerback.png"  maxSideWidth="32"/>
    <shape name="Linebacker" description="Linebacker" icon="icons/linebacker.gif" picture="linebacker.png"  maxSideWidth="32"/>
    <shape name="safety" description="Safety" icon="icons/safety.gif" picture="safety.png"  maxSideWidth="32"/>
    <shape name="Strong safety" description="Strong Safety" icon="icons/strong_safety.gif" picture="strong_safety.png"  maxSideWidth="32"/>
    <shape name="Free Safety" description="Free safety" icon="icons/free_safety.gif" picture="free_safety.png"  maxSideWidth="32"/>
    <shape name="Nose Guard" description="Nose Guard" icon="icons/nose_guard.gif" picture="nose_guard.png"  maxSideWidth="32"/>
    <shape name="Split End" description="Split End" icon="icons/split.gif" picture="split.png"  maxSideWidth="32"/>
    <shape name="Tight End" description="Tight End" icon="icons/tight.gif" picture="tight.png"  maxSideWidth="32"/>
    <shape name="Offensive Tackle" description="Offensive Tackle" icon="icons/off_tackle.gif" picture="off_tackle.png"  maxSideWidth="32"/>
    <shape name="Offensive Ground" description="Offensive Ground" icon="icons/off_ground.gif" picture="off_ground.png"  maxSideWidth="32"/>
    <shape name="Center" description="Center" icon="icons/center.gif" picture="center.png"  maxSideWidth="32"/>
    <shape name="Quarterback" description="Quarterback" icon="icons/quarterback.gif" picture="quarterback.png"  maxSideWidth="32"/>
    <shape name="Runningback" description="Runningback" icon="icons/runningback.gif" picture="runningback.png"  maxSideWidth="32"/>
    <shape name="Fullback" description="Fullback" icon="icons/fullback.gif" picture="fullback.png"  maxSideWidth="32"/>
    <shape name="Halfback" description="Halfback" icon="icons/halfback.gif" picture="halfback.png"  maxSideWidth="32"/>
    <shape name="Wide Recevier" description="Wide Recevier" icon="icons/wide_recevier.gif" picture="wide_recevier.png"  maxSideWidth="32"/>
    <shape name="Tailback" description="Tailback" icon="icons/tailback.gif" picture="tailback.png"  maxSideWidth="32"/>
    <shape name="Wingback" description="Wingback" icon="icons/wingback.gif" picture="wingback.png"  maxSideWidth="32"/>
    <shape name="Flanter" description="Flanter" icon="icons/flanter.gif" picture="flanter.png"  maxSideWidth="32"/>    
    <shape name="Offensive Player" description="Offensive Player" icon="icons/off_player.gif" picture="off_player.png"  maxSideWidth="32"/>    
    <arrow name="PolySolidBlockTool" description="Block" picture="block.gif" />
    <arrow name="PolyCurvedBlockTool" description="Block" picture="curvedblock.gif" />
    <arrow name="PolyDashedBlockTool" description="Block" picture="dashedblock.gif" />
    <arrow name="PolyCurvedArrowTool" description="Motion" picture="curved.gif" />
    <arrow name="PolySolidArrowTool" description="Run" picture="solid.gif" />
    <arrow name="BezierSolidArrowTool" description="Run" picture="solidbezier.gif" />
    <field name="wholefield" description="Ganzes Feld" picture="whole_field.gif" />
    <field name="middlefield" description="Feldmitte" picture="middlefield.gif" />
    <field name="blankfield" description="Leeres Feld" picture="blankfield.gif" />
  </itemComponents>
</TBE>
