<TBE>
 <sport name="Fussball" version="1.0" lastCompatibleVersion="1.0"/>
 <itemComponents>
  <shape name="Ball1" description="Ball1" picture="ball.gif" />
  <shape name="Ball2" description="Ball2" picture="ball.gif" />
  <arrow type="type1" description="Pass" />
  <arrow type="type2" description="Spurt" />
 </itemComponents>
</TBE>
