<TBE>
 <sport name="Floorball" version="1.0" picture="ball.gif"  lastCompatibleVersion="1.0"/>
 <itemComponents>
	 <shape name="Trainer" description="Trainer" picture="trainer.png" />
	 <shape name="Gegenspieler" description="Gegenspieler" picture="gegenspieler.png" />
	 <shape name="Spieler" description="Spieler" picture="spieler.png" />
	 <shape name="Stockauslage" description="Stockauslage" picture="stockauslage.png" />
	 <shape name="Langbank" description="Langbank" picture="langbank.png" />
	 <shape name="Markierung" description="Markierung" picture="markierung.png" />
     <shape name="Schwedenkasten" description="Schwedenkasten" picture="schwedenkasten.png" />	 
	 <shape name="Tempowechsel" description="Tempowechsel" picture="tempowechsel.png" />
	 
   <arrow type="type1" description="Roeckliluepftraining" />
   <arrow type="type2" description="Roecklitragtraining" />
   <field name="hauptfeld" picture="field1.jpg" />
 </itemComponents>
</TBE>
