<TBE>
 <sport name="Floorball" version="1.0" picture="ball.gif"  lastCompatibleVersion="1.0"/>
 <itemComponents>
 	 <shape name="Ball" description="Ball" icon="icons/balltool.gif" picture="balltool.gif" />
	 <shape name="Trainer" description="Trainer" icon="icons/trainer.gif" picture="trainer.gif" />
	 <shape name="Gegenspieler" description="Gegenspieler" icon="icons/gegenspieler.gif" picture="gegenspieler.gif" />
	 <shape name="Spieler" description="Spieler" icon="icons/spieler.gif" picture="spieler.gif" />
	 <shape name="Stockauslage" description="Stockauslage" icon="icons/stockauslage.gif" picture="stockauslage.gif" />
	 <shape name="Langbank" description="Langbank" icon="icons/langbank.gif" picture="langbank.gif" />
	 <shape name="Markierung" description="Markierung" icon="icons/markierung.gif" picture="markierung.gif" />
     <shape name="Schwedenkasten" description="Schwedenkasten" icon="icons/schwedenkasten.gif" picture="schwedenkasten.gif" />	 
	 <shape name="Tempowechsel" description="Tempowechsel" icon="icons/tempowechsel.gif" picture="tempowechsel.gif" />
	 <arrow name="PolySolidArrowTool" description="Laufweg ohne Ball" picture="solid.gif" />
	 <arrow name="BezierSolidArrowTool" description="Laufweg ohne Ball" picture="solidbezier.gif" />
	 <arrow name="PolyDashedArrowTool" description="Pass" picture="dashed.gif" />
	 <arrow name="BezierDashedArrowTool" description="Pass" picture="dashedbezier.gif" />
	 <arrow name="PolyDoubleArrowTool" description="Schuss" picture="double.gif" />
	 <arrow name="BezierDoubleArrowTool" description="Schuss" picture="doublebezier.gif" />	
 	 <arrow name="PolyCurvedArrowTool" description="Laufweg mit Ball" picture="curved.gif" />
	 <arrow name="BezierCurvedArrowTool" description="Laufweg mit Ball" picture="curvedbezier.gif" />
     <field name="wholefield" description="Ganzes Feld" picture="whole_field.gif" />
     <field name="halffield" description="Halbes Feld" picture="half_field.gif" />
     <field name="goal" description="Torraum" picture="goal.gif" />
 </itemComponents>
</TBE>
