<TBE>
 <sport name="Floorball" version="1.0" picture="ball.gif"  lastCompatibleVersion="1.0"/>
 <itemComponents>
  <shape name="Ball1" description="Ball1" picture="ball.gif" />
   <shape name="Ball2" description="Ball2" picture="ball.gif" />
   <shape name="Ball3" description="Ball2" picture="ball.gif" />
   <shape name="Ball4" description="Ball2" picture="ball.gif" />
  <arrow type="type1" description="Roeckliluepftraining" />
   <arrow type="type2" description="Roecklitragtraining" />
   <field name="hauptfeld" picture="field1.jpg" />
 </itemComponents>
</TBE>
