<?xml version="1.0" encoding="iso-8859-1"?>
<TBE version="1.0">
  <trainer name="Zumstein" prename="Ramon" email="ramon.zumstein@gmail.com" />
  <defaultLanguage name="deutsch" />
  <servers>
    <server name="Public" host="tbe.netstyle.ch" username="tbe_public" password="carmad4" />
    <server name="Berncapitals" host="ftp.berncapitals.ch" username="berncapitals" password="caps2002" />
  </servers>
  <recently />
</TBE>

